In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
item = pd.read_csv('/content/drive/MyDrive/DMC_2020/DMC_2020/items.csv',sep = '|')
tr = pd.read_csv('/content/drive/MyDrive/DMC_2020/DMC_2020/transactions.csv',sep = '|')
tr.columns = ['sessionID', 'itemID', 'click', 'basket', 'order']
eval = pd.read_csv('/content/drive/MyDrive/DMC_2020/DMC_2020/evaluation.csv',sep = '|')
eval.columns = ['itemID']

In [ ]:
item

       itemID  ...                      subtopics
0       21310  ...                          [5AH]
1       73018  ...  [5AJ,AGZ,WFA,YBG,YBL,YNA,YPA]
2       19194  ...                      [5AP,FBA]
3       40250  ...           [5AC,5AD,YBG,YBL,YF]
4       46107  ...   [WD,WFTM,YBG,YBL,YBLD,YBLN1]
...       ...  ...                            ...
78025   37678  ...                          [YFJ]
78026   68688  ...                             []
78027   57291  ...                             []
78028   78130  ...                      [YFG,YFH]
78029   68789  ...                             []

[78030 rows x 6 columns]

In [ ]:
tr

        sessionID  itemID  click  basket  order
0               0   21310      1       0      0
1               1   73018      1       0      0
2               2   19194      1       0      0
3               3   40250      1       0      0
4               4   46107      1       0      0
...           ...     ...    ...     ...    ...
365138     279351   70183      1       0      0
365139     279352   39716      1       0      0
365140     279353   35260      1       0      0
365141     279353   18805      4       0      0
365142     279354    3083      1       0      0

[365143 rows x 5 columns]

In [ ]:
eval

     itemID
0        12
1     45274
2     10104
3     41371
4     14015
..      ...
995   78384
996   68157
997   44964
998   12971
999   41078

[1000 rows x 1 columns]

In [ ]:
df = pd.merge(item,tr, on='itemID', how='inner')
df

        itemID  ... order
0        21310  ...     0
1        21310  ...     0
2        21310  ...     0
3        73018  ...     0
4        73018  ...     0
...        ...  ...   ...
365138   21264  ...     0
365139   22297  ...     0
365140   56041  ...     0
365141   67832  ...     0
365142   73084  ...     0

[365143 rows x 10 columns]

In [ ]:
df.drop_duplicates(subset ="itemID",
                     keep = False, inplace = True)
df

        itemID  ... order
14235    23115  ...     0
15829    40949  ...     0
26193    69702  ...     0
37813    43285  ...     0
38071    11646  ...     0
...        ...  ...   ...
365138   21264  ...     0
365139   22297  ...     0
365140   56041  ...     0
365141   67832  ...     0
365142   73084  ...     0

[7492 rows x 10 columns]

In [ ]:
df.dropna(axis=0,inplace=True)
df.isnull().sum()

itemID        0
title         0
author        0
publisher     0
main topic    0
subtopics     0
sessionID     0
click         0
basket        0
order         0
dtype: int64

In [ ]:
df.head(10)

       itemID                                              title  ... basket order
14235   23115                                               Rune  ...      0     0
15829   40949                                    Der siebte Sohn  ...      0     0
26193   69702                        Fae - The Sins of the Wyrde  ...      0     0
37813   43285                       The Haunting of Peligan City  ...      0     0
38071   11646                                   Cupid of Campion  ...      0     0
51581   57845              Danny Dunn and the Anti-Gravity Paint  ...      0     0
53623   28441  Dreaming about love-The Coming of the Angels-v...  ...      0     0
58615   68253     Warriors: Omen of the Stars #3: Night Whispers  ...      0     0
59083   14909                                     Poeti shqiptar  ...      0     0
61961   11569                         You're the One that I Want  ...      0     0

[10 rows x 10 columns]

# Content Based

In [ ]:
# let's check up the title to determine what to process in the string
df['title']

14235                             Rune
15829                  Der siebte Sohn
26193      Fae - The Sins of the Wyrde
37813     The Haunting of Peligan City
38071                 Cupid of Campion
                      ...
365137                  Beasts of Prey
365138                            Soon
365140                           Tesla
365141       Hexenherz. Glühender Hass
365142         Everybody Sees the Ants
Name: title, Length: 7144, dtype: object

In [ ]:
df.shape

(7144, 10)

In [ ]:
df['main topic']

14235      FFJ
15829      DSY
26193       FM
37813      YFB
38071      YFC
          ...
365137     YFH
365138     YFN
365140     FLM
365141     FMH
365142    YXQF
Name: main topic, Length: 7144, dtype: object

In [ ]:
df['subtopics'] = df['subtopics'].astype(str).str.replace(r'\[|\]|,', '')

In [ ]:
#I have thought of processing all the strings together. So joined all of them to product details column and dropped the used 
# columns
df['product_details'] = df['author']+' '+ df['main topic'] + ' ' + df['subtopics']
#df.drop(columns = ['title', 'main topic', 'subtopics'],inplace=True)
df.head()

       itemID  ...                       product_details
14235   23115  ...  Inka Loreen Minden FFJ 5PSGFFJFMRFRD
15829   40949  ...      Julia Maar DSY DSYFMHFNFYRYFHYFM
26193   69702  ...                Graham Austin-King FM
37813   43285  ...                     Sophie Green YFB
38071   11646  ...       Rev. Francis J Finn YFC 5PGMYFK

[5 rows x 11 columns]

In [ ]:
df['product_details'] = df['product_details'].str.lower()
df.head()

       itemID  ...                       product_details
14235   23115  ...  inka loreen minden ffj 5psgffjfmrfrd
15829   40949  ...      julia maar dsy dsyfmhfnfyryfhyfm
26193   69702  ...                graham austin-king fm
37813   43285  ...                     sophie green yfb
38071   11646  ...       rev. francis j finn yfc 5pgmyfk

[5 rows x 11 columns]

In [ ]:
df.shape

(7144, 11)

In [ ]:

# so we are going to make a vector of words to make word to word n_gram and calculate cosine similarities
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

https://heartbeat.fritz.ai/recommender-systems-with-python-part-i-content-based-filtering-5df4940bd831

In [ ]:
tfv = TfidfVectorizer(min_df=3,  max_features=None, 
            strip_accents='unicode', analyzer='word',token_pattern=r'\w{1,}',
            ngram_range=(1, 3),
            stop_words = 'english')

# Filling NaNs with empty string
df['product_details'] = df['product_details'].fillna('')

In [ ]:
tfv_matrix = tfv.fit_transform(df['product_details'])
tfv_matrix

<7144x2831 sparse matrix of type '<class 'numpy.float64'>'
	with 26232 stored elements in Compressed Sparse Row format>

In [ ]:
tfv_matrix.shape

(7144, 2831)

In [ ]:
from sklearn.metrics.pairwise import sigmoid_kernel

# Compute the sigmoid kernel
sig = linear_kernel(tfv_matrix, tfv_matrix)

In [ ]:
results = {}
for idx, row in df.iterrows():

   similar_indices = sig[idx].argsort()[:-100:-1] 
   similar_items = [(sig[idx][i], df['itemID'][i]) for i in similar_indices] 
   results[row['itemID']] = similar_items[1:]

IndexError: ignored

In [ ]:
def item1(itemID):  
  return df.loc[df['itemID'] == itemID]['itemID'].astype(str).tolist()[0].split(' - ')[0] 
# Just reads the results out of the dictionary.def

In [ ]:
evalList = eval['itemID'].tolist()

In [ ]:
def myFun(evaluation_list):
  finalList = []
  for i in evaluation_list:
    try:
      item_id1 = i
      num = 10

      recs = results[item_id1][:num]   
      recomList = []
      recomList.append(item_id1)
      for rec in recs: 
        #print("Recommended: " + item1(rec[1]) + " (score:" +      str(rec[0]) + ")")
        recomList.append(item1(rec[1]))
      finalList.append(recomList)
    except:
      pass  

  evalDf = pd.DataFrame(columns=['itemID', 'rec1', 'rec2','rec3','rec4','rec5','rec6','rec7','rec8','rec9','rec10'], data= finalList)
  evalDf.to_csv('evaluationCalc.csv')

In [ ]:
myFun(evalList)